$side: 500px

.board
  height: $side
  width: $side
  border: 1px solid black
  margin: 20px 20px 40px 40px
  user-select: none
  position: relative

.row
  width: 100%
  height: 12.5%
  &__number
    position: absolute
    left: -20px
    top: 50%
    transform: translateY(-50%)
  &__cells
    width: 100%
    height: 100%
    display: flex
    align-items: center
    &--letters
      height: 20px
      margin-top: 10px
      text-align: center
  &__cell
    height: 100%
    width: 12.5%
    &--b
      background-color: #beb8b8

.button--rotate
  margin: 50px 20px

.piece
  cursor: pointer
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center